@(message: String, style: String = "scala") 

@defining(play.core.PlayVersion.current) { version =>

<section id="top">
  <div class="wrapper">
    <h1><a href="https://playframework.com/documentation/@version/Home">@message</a></h1>
  </div>
</section>

<div id="content" class="wrapper doc">
<article>

  <h1>Welcome to the String Service App</h1>
   <h2>Endpoints</h2>
    <h4> Converts an uppercase string to a lowercase string </h4>
    <code> /lowercase/{query_string} </code>
    <hr>
    <h4>Converts a lowercase string to an uppercase string</h4>
    <code> /uppercase/{query-string} </code>
    <hr>
    <h4> Counts the number of characters in a string </h4>
    <code> /count/{query-string} </code>
</article>

</div>
}
